.top-header {
    border-top: 8px solid;
    border-image: linear-gradient(to right, $primaryColor 50%, $secondryColor 75%) 5;

    .logo {
        padding: 0.5rem 15px;
        img {
            width: 100px;
        }
    }

    .text {
        text-align: end;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: end;

        div {
            font-family: $fontMontserrat;
            font-size: 0.9rem;

            &.border-custom{
                border-right: 1px solid $primaryColor;
            }

            svg{
                font-size: 2rem;
                margin-right: 1rem;
                color: $secondryColor;
            }

            a {
                text-decoration: none;
                color: $primaryColor;
                font-weight: 800;
            }

            span{
                color: $primaryColor;
                font-weight: 800;
            }
        }
    }

    .navbar{
        background-color: $primaryColor;
        padding: 0;


        .nav-link{
            color: $secondryColor;
            font-family: $fontMontserrat;
            text-transform: uppercase;
            margin: 0 0.5rem;
            padding: 0.4rem 1.5rem;

            &.active{
                background-color: $secondryColor;
                color: $primaryColor;
            }

            &:hover{
                background-color: $secondryColor;
                color: $primaryColor;
            }
        }
    }
}