.contact-section {
  border: 3px solid rgba($primaryColor, 0.3);
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 3rem 2rem;
  border-radius: 1rem;

  h4{
    background-color: $primaryColor;
    color: $white;
    padding: 1.3rem 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: $fontPlayfair;
  }

  small{
    font-family: $fontRaleway;
    font-weight: 900;
    color: $primaryColor;
  }

  .unit-text {
    padding: 0 5rem;
    .divider-custom {
      margin-top: 1rem;
      width: 150px;
      height: 3px;
      background-color: $primaryColor;
    }
    svg {
      color: $primaryColor;
      font-size: 2rem;
      margin-top: 1.2rem;
    }
  }
  .bg-color-custom {
    background-color: rgba($primaryColor, 0.3);
  }
  .contact-bg {
    // background-color: rgba($primaryColor, 0.3);
    padding: 3rem 5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
