.service-section-page {
    padding: 2rem 0 4rem;

    h4 {
        font-size: 2rem;
        font-weight: bold;
        font-family: $fontPlayfair;
    }

    p {
        margin-bottom: 0;

        span {
            font-weight: 700;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: $primaryColor;

        svg {
            color: $white;
            font-size: 3rem;
        }
    }

    .service-content-box {
        margin-top: 3rem;
        border-top: 1px solid #ddd;
        padding-top: 2rem;
    }
}